<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'nl-NL' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

{% seo %}

  {% include head-custom.html %}
</head>

<body>

  <div class="ribbon">
    <div class="ribbon-inner">
      <span class="ribbon-text"></span>
      <a href="{{ '/contact.html' | relative_url }}" class="cta">Doe mee</a>
    </div>
  </div>

  <header>
    <h1 class="title" aria-label="{{ site.title }}">De <img
        src="{{ '/assets/images/logo-o.png' | relative_url }}"
        alt="" aria-hidden="true" class="title-o"
        width="162" height="160">mwenteling</h1>
    <p class="tagline">{{ site.description | default: site.github.project_tagline }}</p>
  </header>

  <div id="main" role="main">
    <article class="markdown-body">
      {{ content }}
    </article>
  </div>

  <footer>
    <p>Een initiatief van het <a href="https://www.vbbskw.com">VBBSKW</a>.</p>
  </footer>

  <div class="current-section">
    <a href="#top">Naar boven ↑</a>
    <p class="name"></p>
  </div>
</body>
</html>
